<div class="row intro-card p-0 m-0">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 home-emoji">
        <img src="../../assets/images/hero-area-emoji.webp" width="100%" class="emoji">
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 display-intro-card">
        <h3 class="home-heading">
            Hey, I'm Anuj Saxena
            <img src="../../assets/images/hi_icon.webp" width="10%"
                style="animation:0s !important; animation-duration: 0ms;">
        </h3>
        <p class="home-descrption">I design, build and code things for web and mobile</p>
        <div>
            <button type="button" class="btn btn-outline-secondary contact-btn mr-3 mt-3">
                <img src="../../assets/images/chat_icon.webp" width="25px">
                <span class="contact-btn-text px-1">let's talk</span>
            </button>
            <button type="button" class="btn btn-outline-secondary resume-btn mr-3 mt-3">
                <img src="../../assets/images/document_icon.webp" width="25px">
                <span class="resume-btn-text px-1">Download CV</span>
            </button>
        </div>
    </div>
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-1"></div>
</div>

<div class="about-us-card">
    <h3 class="about-us-heading px-2">Hi, I'm Anuj. Nice to meet you.</h3>
    <div class="row p-0 m-0">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <p style="color: black;" class="mt-4 px-2">
                I'm a professional Senior Software Engineer from Delhi,India with 4 years of industry experience
                in designing and developing Mobile and Web applications. I specialize in designing wireframes and prototype 
                of web and mobile applications using Adobe XD and Figma tool and also, developing layouts from scratch using custom 
                libraries/plugins features,animations and Angular8+. 
            </p>
            <div style="text-align: center;" class="mb-5">
                <button type="button" class="btn btn-outline-secondary profile-btn mr-3 mt-3">
                    <span class="">View Profile</span>
                    <span><img src="../../assets/images/icons8-arrow-48.png" class="pl-1"></span>
                </button>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
    </div>
        <mat-card class="mat-Card mx-5 mt-2"> 
        <div class="specialities-heading mt-3 mb-5">
            <h3 style="font-size: 1.75rem;">My Specialities</h3>
        </div>
        <div class="row p-0 mx-0 mb-5">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right pt-3">
                <img src="../../assets/images/uxui.svg" width="50%" class="specialities-icon">
                <h3 class="ux-heading py-2">User Experience</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right pt-3" >
                <img src="../../assets/images/branding.svg" width="50%" class="specialities-icon">
                <h3 class="ux-heading py-2">User Interface</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-3">
                <img src="../../assets/images/webdesign.svg" width="50%" class="specialities-icon">
                <h3 class="ux-heading py-2">Front-End development</h3>
            </div>
        </div>
        </mat-card>

        <div>
            <h3 class="work-heading my-5">Places I Have Worked</h3>
            <div  class="row p-0 m-0" style="text-align: center;">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 py-3">
                    <img src="../../assets/images/TechM_prev_ui.png" width="65%">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 py-3">
                    <img src="../../assets/images/tcs-color.png" width="100%">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
            </div>
        </div>
</div>